*{
    margin: 0;
}


.banner{
opacity: 0.5;
border-radius: 16px;
background: linear-gradient(180deg, #f40420 0%, rgba(5, 109, 54, 0) 100%),url('resources/Banner Image.png');
background-repeat: no-repeat;
width: 1320px;
height: 600px;
flex-shrink: 0px;
color: wheat;
text-align: center;
border-radius: 16px;
margin: 50px auto;
padding-top: 60px;

}

.banner h3{
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Merriweather';
}
.banner h1{
    color: #fff;
    font-size: 72px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900px;
    line-height: 95px;

}
.off{
   color:#F00;
   text-align: center;
   font-size: 88px;
   font-style: normal;
   font-weight: 700px;
   line-height: normal;
   font-family: Inter;

}
.p{
    color:#F00;
   text-align: center;
   font-size: 24px;
   font-style: normal;
   font-weight: 500px;
   line-height: normal;
   font-family: Inter;

}
.categories{
    color:rgb(14, 1, 1);
   text-align: center;
   font-size: 48px;
   font-style: normal;
   font-weight: 700px;
   line-height: normal;
   font-family: Inter;

}
.img{
    display: block;
    margin: auto;
    width: 802px;
    height: 500px;
    flex-shrink: 0;
    align-content: center;
}
.section1 h2{
    color: #fff;
    font-size: 64px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900px;
    line-height: 88px;
    letter-spacing: 6.04px;


}
.section1 p{
    color: #fff;
   font-size: 18px;
   font-style: normal;
   font-weight: 400px;
   line-height: normal;
   font-family: Inter;

}
.section button{
border: none;

}
.section1{
opacity: 0.5;
border-radius: 16px;
background: linear-gradient(180deg, #f40606 20%, rgba(5, 80, 54, 0) 100%),url('resources/Vectorrr.png');
background-repeat: no-repeat;
width: 1320px;
height: 600px;
flex-shrink: 0px;
padding: 50px;
color: wheat;
border-radius: 16px;
margin: 50px auto;
padding-top: 60px;
background-size: cover;
}
.section2 h3{
    text-align: center;
   font-size: 32px;
   font-style: normal;
   font-weight: 600px;
   line-height: 56px;
   font-family: Inter;
   text-align: center;
   text-transform: capitalize;

}
.section2 button{
    border: none;
    position: center;
  margin-right: 200px;
    background-color: tomato;
    border-radius: 06px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    font-family: Inter;
    text-transform: uppercase;
    padding: 10px;
    display:inline-block;

}
.section2{
    background-color: rgba(255, 0, 0, 0.2);
    width: 1320px;
    height: 600px;
    flex-shrink: 0px;
    padding: 50px; 
    border-radius: 16px;
    margin: 80px auto;

}
.btn primary{
    color: tomato;
}
.section3{
    width: 1320px;
height: 600px;
flex-shrink: 0px;


}
.section3{
    display: flex;
    width: 1320px;
height: 600px;
flex-shrink: 0px;
order-radius: 16px;
margin: 50px auto;
padding-top: 60px;
}
.section3 h4{
    color:#f40420;
   font-family: inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 500px;
   line-height: normal;
}

.section3 h2{
    color: black;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;

}
.section3 p{
    display: flex;
    color:rgb(58, 47, 47);
   font-family: inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
}
.section3 image{
    display: flex;
    width: 364.844;
    height: 364.844;
    flex-shrink: 0;
    border-radius: 364.844px;
background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
}
.image{  
    padding: 50px;
    display: flex;
    border-radius: 463px;
    border: 15px solid #F00;
    display: flex;
    width: 364.844;
    height: 364.844;
    flex-shrink: 0;
    border-radius: 364.844px;
    background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;  
}
.newyear h1{
    display: flex;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.newyear p{
    display: flex;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 160% */
}
.newyear img{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}   
.newyear{
    padding: 30px;

}
.holyday h3{
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.holyday h1{
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;

}
.holyday p{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}
.holyday{
 width: 1320px;
height: 600px;
flex-shrink: 0px;
padding: 50px;
border-radius: 16px;
margin: 50px auto;
padding-top: 60px;

}
.img1{
margin-right: 0;
}
.pohoto{
    width: 1320px;
    height: 600px;
    flex-shrink: 0px;
    order-radius: 16px;
    margin: 50px auto;
    padding-top: 60px;
    display: flex;
}

.photo1 img{
    width: 278.09px;
    height: 333.424px;
    flex-shrink: 0;
}
.photo{
    display: flex;
}
.photo3 img{
    margin-right: 0px;
    width: 429px;
   height: 433px;
   flex-shrink: 0;
   border-radius: 16px 16px 0px 0px;
   background: url(<path-to-image>), lightgray -59.98px 0px / 151.553% 100% no-repeat;

} 


.section4 h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}
.section5 img{
   padding: 5px;
}
.section6 img{
    margin: 50px auto;
    display:block;
}
.section6{
    background-color: rgb(221, 147, 51);
    border-radius: 20px;
    height: auto;
    width: auto;
    margin: 20px;
}
.section6 h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.section6 p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.section6 input{
    border-radius: 20px;
    display: block;
    margin: 0  auto;
    width: 348px;
    height: 52px;
    flex-shrink: 0;
}

.button{
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    width: 348px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    background-color: #f40420;
    text-align: center;
    padding: 10px;
}

.section7{
    background-color: #eacf09;
    border-radius: 20px;
    margin: 30px;
}
.section7 p{
    display: flex;
    display: block;
    color: #0a0a09;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}
.section7 img{
    padding: 0.1px;
    display: content;
    margin-left: 200px;

}
.navar p{
margin: 20px;
color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}